.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;

    .home_title{
        font-size: 3rem;
    }

    .home_form{
        position: relative;
        margin-bottom: 2.5rem;
    }

    .home_input{
        margin-top: 3rem;
        width: 40rem;
        height: 2rem;
        border-radius: .5rem;
        border: none;
    }


    .home_btn_search{
        width: 5rem;
        height: 2.3rem;
        position: absolute;
        top: 2.9rem;
        right: 0rem;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }


}